h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

/*** The new CSS reset - version 1.11.1 (last updated 24.10.2023) ***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -moz-user-select: auto;
       user-select: auto;
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  -moz-user-select: auto;
       user-select: auto;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f9;
}

#l-home header {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #262626;
}
#l-home header h1 {
  text-align: center;
  color: #f4f4f9;
}
#l-home header h1 + div > div {
  background-color: violet;
}
#l-home section {
  text-align: center;
}
#l-home footer {
  text-align: center;
}

.l-gallery {
  gap: 1.2rem;
}
@media (min-width:768px) {
  .l-gallery {
    gap: unset;
  }
}
@media (min-width:1280px) {
  .l-gallery {
    gap: unset;
  }
}
.l-gallery .l-gallery-item {
  margin: 10px;
}
.l-gallery .l-gallery-item img {
  min-width: 100%;
  border-radius: 8px;
}

#l-topfooter ul {
  padding-inline-start: unset;
}

@media (min-width:768px) {
  .l-address {
    max-width: 30%;
    margin: auto;
  }
}
@media (min-width:1280px) {
  .l-address {
    max-width: 30%;
    margin: auto;
  }
}

.l-button-sns {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}
@media (min-width:768px) {
  .l-button-sns {
    gap: 2rem;
  }
}
@media (min-width:1280px) {
  .l-button-sns {
    gap: 2rem;
  }
}
.l-button-sns > li {
  width: 100px;
}

.c-inner {
  width: 80dvw;
  margin-inline: auto;
}

:where(.c-flex) {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width:768px) {
  :where(.c-flex) {
    flex-direction: row;
  }
}
@media (min-width:1280px) {
  :where(.c-flex) {
    flex-direction: row;
  }
}

h2 {
  margin-bottom: 0.83rem;
}

#l-home section {
  padding: 60px 0;
}
#l-home footer {
  padding: 10px 0;
}

.l-gallery-item {
  flex-basis: 30%;
}

.l-address {
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */