@charset "UTF-8";
.animate-on-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* ローディング画面のスタイル */
.f-no-scroll {
  overflow: hidden;
}

.f-content {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

#f-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #262626;
}

#f-loading2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f9;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  animation: fadeout 2s ease-out forwards;
}

.marquee-section {
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  background-color: #eee;
  color: #f3cd01;
  padding: 10px 0;
}

.marquee-container {
  display: flex;
  flex-direction: column;
}

.marquee {
  display: flex;
  flex-direction: column;
  animation: marquee-left 13s infinite linear 0.5s both;
  list-style: none;
  padding: 0;
  margin: auto;
  white-space: nowrap;
}

.marquee-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  height: calc(20% + 10px);
  font-size: 1rem;
}

/* アニメーション定義 */
@keyframes fadeout {
  0% {
    -webkit-clip-path: circle(0% at 50% 50%);
            clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }
  100% {
    -webkit-clip-path: circle(150% at 50% 50%);
            clip-path: circle(150% at 50% 50%);
    opacity: 1;
  }
}
@keyframes marquee-left {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* 画像拡大のスタイル */
.f-expandImage {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.f-works-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.f-works-overlay img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html {
  font-size: 14px;
  font-family: "Josefin Sans", "arial", "Zen Kaku Gothic Antique", "游ゴシック", "Yu Gothic", sans-serif;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-family: "Zen Kaku Gothic Antique", "游ゴシック", "Yu Gothic", sans-serif;
}
p.josefin {
  font-family: "Josefin Sans", "arial", "Zen Kaku Gothic Antique", "游ゴシック", "Yu Gothic", sans-serif;
}

.zen-kaku-gothic-antique-regular {
  font-family: "Zen Kaku Gothic Antique", serif;
  font-weight: 400;
  font-style: normal;
}

.zen-kaku-gothic-antique-bold {
  font-family: "Zen Kaku Gothic Antique", serif;
  font-weight: 700;
  font-style: normal;
}

.l-workstag {
  font-weight: bold;
}

.l-worksinfo dl dt {
  font-weight: bold;
}

.l-workshero a {
  color: #f4f4f9;
  text-decoration: none;
}

.l-works-nav a {
  color: inherit;
  text-decoration: none;
}

.f-vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 1.2rem;
  color: #f3cd01;
}

.f-vertical-name {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin: 1rem 0 0 3%;
}

:where(*) {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

/*** The new CSS reset - version 1.11.1 (last updated 24.10.2023) ***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -moz-user-select: auto;
       user-select: auto;
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  -moz-user-select: auto;
       user-select: auto;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

#l-home a {
  color: initial;
  text-decoration: none;
}

body {
  background-color: #f4f4f9;
}

#l-home section {
  text-align: center;
}
#l-home footer {
  text-align: center;
}
#l-home a {
  transition: all 0.5s ease-out;
}
#l-home a:hover {
  opacity: 0.6;
}
#l-home a:hover img {
  border-radius: 0;
}

#l-topheader {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 60dvw 1fr;
  height: 100dvh;
  /* 左側のブロック */
  /* 中央のブロック */
  /* 中央の中のブロック */
}
#l-topheader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f9;
  z-index: -10;
}
#l-topheader .l-block-side {
  background-color: #bb2855;
}
#l-topheader .l-block-center {
  display: grid;
  grid-template: "left info title top top" 30% "left info title right1 right2" 70%/40% 4% 1fr 3% 30%;
  position: relative;
}
#l-topheader .l-letter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#l-topheader .l-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#l-topheader .l-block-left {
  grid-area: left;
}
#l-topheader .l-block-info {
  grid-area: info;
}
#l-topheader .l-block-title {
  grid-area: title;
  margin: auto;
}
#l-topheader .l-block-right1 {
  grid-area: right1;
  background-color: #ffd6e4;
}
#l-topheader .l-block-right2 {
  grid-area: right2;
  background-color: #c7728b;
}
#l-topheader .l-block-top {
  grid-area: top;
  background-color: #ffd6e4;
}

.l-profile {
  display: flex;
  gap: 2rem;
}
@media (max-width:767px) {
  .l-profile {
    flex-direction: column;
  }
}
.l-profile .l-profile-img {
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.l-profile .l-profile-txt > * {
  margin-top: 2rem;
}

.l-gallery {
  gap: 1.2rem;
}
@media (min-width:768px) {
  .l-gallery {
    gap: unset;
  }
}
@media (min-width:1280px) {
  .l-gallery {
    gap: unset;
  }
}
.l-gallery .l-gallery-item {
  margin: 10px;
}
.l-gallery .l-gallery-item img {
  min-width: 100%;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}
.l-gallery .l-gallery-item > div > p {
  word-break: keep-all;
}

#l-topfooter ul {
  padding-inline-start: unset;
}

@media (min-width:768px) {
  .l-address {
    max-width: 30%;
    margin: auto;
  }
}
@media (min-width:1280px) {
  .l-address {
    max-width: 30%;
    margin: auto;
  }
}

.l-button-sns {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
  justify-content: space-evenly;
}
@media (min-width:768px) {
  .l-button-sns {
    gap: 2rem;
    justify-content: space-evenly;
  }
}
@media (min-width:1280px) {
  .l-button-sns {
    gap: 2rem;
  }
}
.l-button-sns > li {
  width: 48px;
}
@media (min-width:768px) {
  .l-button-sns > li {
    width: 48px;
  }
}
@media (min-width:1280px) {
  .l-button-sns > li {
    width: 100px;
  }
}

#l-works .l-workshero-image img,
#l-works .l-worksfeatures img {
  display: block;
}
#l-works .l-worksfeatures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width:768px) {
  #l-works .l-worksfeatures {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:1280px) {
  #l-works .l-worksfeatures {
    grid-template-columns: 1fr 1fr;
  }
}
#l-works .l-works-grid {
  grid-column: auto;
}
@media (min-width:768px) {
  #l-works .l-works-grid {
    grid-column: 1/3;
  }
}
@media (min-width:1280px) {
  #l-works .l-works-grid {
    grid-column: 1/3;
  }
}
#l-works header > div {
  display: flex;
  justify-content: space-between;
}
#l-works header .l-worksh1 {
  width: 75%;
  word-break: keep-all;
}
#l-works .l-workstag > ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  align-items: baseline;
}
#l-works .l-workshero-link {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#l-works .l-workshero-link:hover, #l-works .l-workshero-link:active {
  transform: translateX(-3.5rem);
}
#l-works .l-workshero-link > div {
  align-items: center;
}
#l-works .l-workshero-link > div > svg {
  width: 1.5rem;
  fill: #f4f4f9;
}
#l-works .l-workshero-link .c-circle::before {
  width: 5dvw;
}
#l-works .l-workshero-a {
  background-color: #bb2855;
  padding: 0.5rem;
}
#l-works .l-worksissue dl dt {
  border-bottom: solid 0.5px;
}
#l-works .l-worksinfo {
  background-color: #eee;
  padding: 20px;
}
#l-works .l-works-nav {
  text-align: center;
}
#l-works .l-works-nav a {
  display: inline-block;
  padding: 10px 20px;
  background-color: inherit;
  border: 1px solid #262626;
  border-radius: 5px;
  transition: 0.3s;
}
#l-works .l-works-nav a:hover {
  background-color: #ddd;
}
#l-works footer {
  text-align: center;
}

.c-inner {
  width: 60dvw;
  margin-inline: auto;
}
@media (max-width:767px) {
  .c-inner {
    width: 80dvw;
  }
}

:where(.c-flex) {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width:768px) {
  :where(.c-flex) {
    flex-direction: row;
  }
}
@media (min-width:1280px) {
  :where(.c-flex) {
    flex-direction: row;
  }
}

.c-circle {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #bb2855;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: 5px 0;
}

.c-circle::before {
  content: "";
  position: absolute;
  top: 1rem;
  width: 40dvw;
  height: 1rem;
  transform: translate(50%);
  background-color: #f5c6d2;
  z-index: -1;
}

.c-btn-close {
  display: block;
  width: 100%;
  height: 100px;
  max-width: 30px;
  max-height: 30px;
  position: relative;
}
.c-btn-close::before, .c-btn-close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  background-color: #262626;
  transition: 0.1s;
}
.c-btn-close::before {
  transform: translateY(-50%) rotate(45deg);
}
.c-btn-close::after {
  transform: translateY(-50%) rotate(-45deg);
}
.c-btn-close:hover::before, .c-btn-close:hover::after {
  background-color: #f3cd01;
}
.c-btn-close:active::before, .c-btn-close:active::after {
  background-color: #f3cd01;
  transform: translateY(-50%) rotate(180deg);
}

.c-workswrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
@media (max-width:767px) {
  .c-workswrap {
    flex-wrap: wrap;
  }
}

.c-works-imgs {
  position: relative;
}
.c-works-imgs > * {
  max-width: 100%;
}
.c-works-imgs .c-works-videotag {
  position: absolute;
  top: 1.6em;
  left: 1.6em;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
  pointer-events: none;
}
.c-works-imgs .c-works-videotag > span {
  display: inline-block;
  color: #aaa;
  height: 22px;
  padding-inline: 4px;
  line-height: 22px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: 0.5px solid #aaa;
}

h2 {
  margin-bottom: 0.83rem;
}

#l-home > section {
  padding: 60px 0;
}
#l-home footer {
  padding: 10px 0;
}

.l-gallery-item {
  flex-basis: 30%;
}

.l-address {
  margin-bottom: 30px;
}

#l-works header {
  margin-top: 40px;
}
#l-works aside,
#l-works section,
#l-works .l-workshero-link {
  margin-top: 24px;
  margin-bottom: 24px;
}
#l-works .l-workshero + section {
  margin-top: 40px;
}
#l-works .l-workshero-image {
  margin-bottom: 10px;
}
#l-works .l-worksissue dl dt:not(:first-child) {
  margin-top: 20px;
}
#l-works .l-worksissue dl dd {
  margin-top: 10px;
}
#l-works .l-worksinfo dl dt:not(:first-child) {
  margin-top: 1.2rem;
}
#l-works .l-works-nav {
  margin-top: 40px;
  margin-bottom: 40px;
}/*# sourceMappingURL=style.css.map */