@use "sass:color";

$black: #262626;
$white: #dbf7ff;

$max: 80dvw;
$img-pass: "../img/";
//mixin
$breakpoint: (
  sp: "(max-width:767px)",
  tab: "(min-width:768px)",
  pc: "(min-width:1280px)",
);
@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
