@use "sass:color";

$black: #262626;
$white: #f4f4f9;
$gray: #aaa;
$grayLite: #eee;
$assort: #bb2855;
$accent: #f3cd01;

$max: 60dvw;
$maxSp: 80dvw;
$img-pass: "../img/";
//mixin
$breakpoint: (
  sp: "(max-width:767px)",
  tab: "(min-width:768px)",
  pc: "(min-width:1280px)",
);
@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
