<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="My professional web design portfolio, showcasing my latest projects and design expertise."
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="robots" content="noindex">

<link rel="stylesheet" href="/too4moorii/common/css/style.css" />
<script src="/too4moorii/common/js/script.js" defer></script>
<script src="/too4moorii/common/js/includeAside.js" defer></script>
<!--
<link rel="stylesheet" href="/common/css/style.css" />
<script src="/common/js/script.js" defer></script>
<script src="/common/js/includeAside.js" defer></script>
-->
<script
  src="https://kit.fontawesome.com/3ab4904276.js"
  crossorigin="anonymous"
></script>
