@use "../00_global/" as v;
@use "sass:color";

.c-inner {
  width: v.$max;
  margin-inline: auto;
  @include v.mq(sp){
    width: v.$maxSp;
  }
}

:where(.c-flex) {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  @include v.mq(tab) {
    flex-direction: row;
  }
  @include v.mq(pc) {
    flex-direction: row;
  }
}

.c-btn-close {
  display: block;
  width: 100%;
  height: 100px;
  max-width: 30px;
  max-height: 30px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    background-color: v.$black;
  }
  &::before {
    transform: translateY(-50%) rotate(45deg);
  }
  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.c-workswrap{
  display: flex;
  flex-wrap:nowrap;
  gap: 2rem;
  @include v.mq(sp){
    flex-wrap:wrap;
  }
}