@use "../00_global/" as v;
@use "sass:color";

body {
  background-color: v.$white;
}

#l-home {
  header {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: v.$black;
    h1 {
      text-align: center;
      color: v.$white;
      + div {
        > div {
          background-color: violet;
        }
      }
    }
  }
  section {
    text-align: center;
  }
  footer {
    text-align: center;
  }

}

.l-profile{
  display: flex;
  gap: 2rem;
  @include v.mq(sp){
    flex-direction:column;
  }
  .l-profile-img{
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    border-radius:50%;
  }
  .l-profile-txt{
    >*{
      margin-top: 2rem;
    }
  }
}

.l-gallery {
  gap: 1.2rem;
  @include v.mq(tab) {
    gap: unset;
  }
  @include v.mq(pc) {
    gap: unset;
  }
  .l-gallery-item {
    margin: 10px;
    img {
      min-width: 100%;
      border-radius: 8px;
    }
  }
}

#l-topfooter {
  ul {
    padding-inline-start: unset;
  }
}

.l-address {
  @include v.mq(tab) {
    max-width: 30%;
    margin: auto;
  }
  @include v.mq(pc) {
    max-width: 30%;
    margin: auto;
  }
}

.l-button-sns {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
  @include v.mq(tab) {
    gap: 2rem;
  }
  @include v.mq(pc) {
    gap: 2rem;
  }
  > li {
    width: 100px;
  }
}

#l-works {
  .l-workshero-image,
  .l-worksfeatures {
    img {
      display: block;
    }
  }
  .l-worksfeatures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    @include v.mq(sp){
      grid-template-columns:1fr;
    }
  }
  header {
    > div {
      display: flex;
      justify-content: space-between;
    }
    .l-worksh1 {
      width: 75%;
    }
  }
  .l-workstag {
    > ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  .l-workshero-link {
    text-align: left;
  }

  .l-worksissue {
    dl {
      dt {
        border-bottom: solid 0.5px;
      }
    }
  }
  .l-worksinfo {
    background-color: v.$grayLite;
    padding: 20px;
  }
  .l-works-nav {
    text-align: center;
    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: inherit;
      border: 1px solid v.$black;
      border-radius: 5px;
      transition: 0.3s;
      &:hover {
        background-color: #ddd;
      }
    }
  }
  footer {
    text-align: center;
  }
}
