@use "../00_global/" as v;
@use "sass:color";

body {
  background-color: v.$white;
}

#l-home {
  header {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: v.$black;
    h1 {
      text-align: center;
      color: v.$white;
      + div {
        > div {
          background-color: violet;
        }
      }
    }
  }
  section {
    text-align: center;
  }
  footer {
    text-align: center;
  }
}

.l-gallery {
  gap: 1.2rem;
  @include v.mq(tab) {
    gap: unset;
  }
  @include v.mq(pc) {
    gap: unset;
  }
  .l-gallery-item {
    margin: 10px;
    img {
      min-width: 100%;
      border-radius: 8px;
    }
  }
}

#l-topfooter {
  ul {
    padding-inline-start: unset;
  }
}

.l-address {
  @include v.mq(tab) {
    max-width: 30%;
    margin: auto;
  }
  @include v.mq(pc) {
    max-width: 30%;
    margin: auto;
  }
}

.l-button-sns {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
  @include v.mq(tab) {
    gap: 2rem;
  }
  @include v.mq(pc) {
    gap: 2rem;
  }
  > li {
    width: 100px;
  }
}
